body{
    font-family: 'Poppins';
    margin: 0px;
}

*{
    box-sizing: border-box;
    
}

.textmain{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.headerText{
    color: rgb(82, 82, 82);
    text-align: center;
    margin-top: 2rem;
    max-width: 550px;
}

.headerText :first-child{
    font-weight: 100;
}

.headerText h1{
    margin-block: 0px;
}

.headerText p{
    opacity: 0.5;
}

.boxmain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1100px;
    display: grid;
    gap: 2rem;
    margin-inline : 2rem;
}

.box{
    transition: transform 400ms;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(186, 209, 216);
}

.box:hover{
    transform: translateY(-1.5rem);
}

.box h3{
    margin-top: 0px;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

.box p{
    margin-top: 0px;
    opacity: 0.4;
    font-size: 14px;
    margin-bottom: 6rem;
}

.box-1{
    background-image: url(images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 85%;
    border-top: 4px solid rgb(1, 197, 197);
    padding: 2rem;  
    grid-row: 2 / span 2;

}


.box-2{
    background-image: url(images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 85%;
    border-top: 4px solid red;
    padding: 2rem;
    grid-column-start: 2;
    grid-row-start: span 2;
}

.box-3{
    background-image: url(images/icon-karma.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 85%;
    border-top: 4px solid orange;
    padding: 2rem;
    grid-column-start: 2;
    grid-row-start: span 3;
}

.box-4{
    background-image: url(images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 85%;
    border-top: 4px solid rgb(0, 174, 255);
    padding: 2rem;
    grid-column-start: 3; 
    grid-row: 2 / span 2;
}

@media (max-width : 900px){

    .container{
        display: block;
    }

    .box{
        min-height: 250px;
        margin-bottom: 3rem;
    }

    .headerText h1{
        font-size: 22px;
    }   

} 